<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  Pick your avatar
  <table>
    <tr>
      <td class="avatar_selection">
        <label for="avatar_turtle">
          <%= image_tag "avatars/turtle.svg", size: "100" %> 
          <%= radio_button_tag(:avatar, "turtle", :checked => true) %> 
          Turtle
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_hat_owl">
          <%= image_tag "avatars/hat_owl.svg", size: "100" %>  
          <%= radio_button_tag(:avatar, "hat_owl") %>
          Hat Owl
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_teddy_bear">
          <%= image_tag "avatars/teddy_bear.svg", size: "100" %>  
          <%= radio_button_tag(:avatar, "teddy_bear") %>
          Teddy Bear
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_grim_reaper">
          <%= image_tag "avatars/grim_reaper.svg", size: "100" %>  
          <%= radio_button_tag(:avatar, "grim_reaper") %>
          Grim Reaper
        </label>
      </td>
    </tr>
    <tr>
      <td class="avatar_selection">
        <label for="avatar_fox">
          <%= image_tag "avatars/fox.svg", size: "100" %>
          <%= radio_button_tag(:avatar, "fox") %>
          Fox
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_short_owl">
          <%= image_tag "avatars/short_owl.svg", size: "100" %>
          <%= radio_button_tag(:avatar, "short_owl") %>
          Short Owl
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_cool_cat">
          <%= image_tag "avatars/cool_cat.svg", size: "100" %>
          <%= radio_button_tag(:avatar, "cool_cat") %>
          Cool Cat
        </label>
      </td>
      <td class="avatar_selection">
        <label for="avatar_tall_owl">
          <%= image_tag "avatars/tall_owl.svg", size: "100" %>
          <%= radio_button_tag(:avatar, "tall_owl") %>
          Tall Owl
        </label>
      </td>
    </tr>
  </table>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </br>

  <div><%= f.submit "Sign up" %></div>
  </br>
<% end %>

<%= render "devise/shared/links" %>
