<p id="notice"><%= notice %></p>

<div id="room">
  <div class="action_buttons" id="fold">Fold</div>
  <div class="action_buttons" id="call_check">Call/Check</div>
  <div class="action_buttons" id="bet_raise">Bet/Raise</div>
  <div class="seatleg" id="seat_leg1"><div class="seat" id="seat1">Seat1</div></div>
  <div class="seatleg" id="seat_leg2"><div class="seat" id="seat2">Seat2</div></div>
  <div class="seatleg" id="seat_leg3"><div class="seat" id="seat3">Seat3</div></div>
  <div class="seatleg" id="seat_leg4"><div class="seat" id="seat4">Seat4</div></div>
  <div class="seatleg" id="seat_leg5"><div class="seat" id="seat5">Seat5</div></div>
  <div class="seatleg" id="seat_leg6"><div class="seat" id="seat6">Seat6</div></div>
  <div id="table">
    <div id="pot">Pot:</div>
    <div id="board">
      <object type="image/svg+xml" data="images/2C.svg" id="card1" class="card"></object>
      <object type="image/svg+xml" data="images/2C.svg" id="card2" class="card"></object>
      <object type="image/svg+xml" data="2C.svg" id="card3" class="card"></object>
      <object type="image/svg+xml" data="2C.svg" id="card4" class="card"></object>
      <object type="image/svg+xml" data="2C.svg" id="card5" class="card"></object>
    </div>
  </div>
  <div class="hole_cards" id="hole_cards_text">Hole Cards</div>
  <object type="image/svg+xml" data="app/assets/images/2C.svg" class="hole_cards" id="hole_card1" ></object>
  <object type="image/svg+xml" data="images/2C.svg" class="hole_cards" id="hole_card2" ></object>
  <p>
    <strong>Name:</strong>
    <%= @game.name %>
  </p>

  <p>
    <strong>Button:</strong>
    <%= @game.button %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= @game.action %>
  </p>

  <p>
    <strong>Last to act:</strong>
    <%= @game.last_to_act %>
  </p>

  <p>
    <strong>Deck:</strong>
    <%= @game.deck %>
  </p>

  <p>
    <strong>Board:</strong>
    <%= @game.board %>
  </p>

  <p>
    <strong>Pot:</strong>
    <%= @game.pot %>
  </p>

  <p>
    <strong>Current bet:</strong>
    <%= @game.current_bet %>
  </p>

  <p>
    <strong>Big blind:</strong>
    <%= @game.big_blind %>
  </p>

  <p>
    <strong>Small blind:</strong>
    <%= @game.small_blind %>
  </p>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>

</div>

<div class="bet_slider">
  <label for="amount">Bet/Raise</label>
  <input type="text" id="amount">
  <div id="slider-vertical"></div>
</div>



<script>
$(function() {
  $( "#slider-vertical" ).slider({
    orientation: "vertical",
    range: "min",
    min: 0,
    max: 100,
    value: 60,
    slide: function( event, ui ) {
      $( "#amount" ).val( ui.value );
    }
  });
  $( "#amount" ).val( $( "#slider-vertical" ).slider( "value" ) );
});
</script> 