<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :gravatar_url %><br>
    <%= f.text_field :gravatar_url %>
  </div>
  <div class="field">
    <%= f.label :seat %><br>
    <%= f.number_field :seat %>
  </div>
  <div class="field">
    <%= f.label :chips %><br>
    <%= f.number_field :chips %>
  </div>
  <div class="field">
    <%= f.label :cards %><br>
    <%= f.text_field :cards %>
  </div>
  <div class="field">
    <%= f.label :live_hand %><br>
    <%= f.check_box :live_hand %>
  </div>
  <div class="field">
    <%= f.label :action %><br>
    <%= f.check_box :action %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
